<!-- <script src="/vendor/assets/javascripts/typed.js"></script> -->

<nav id="nav-container" class="navbar navbar-default landing-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">

        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CleverNote</a>
    </div>

    <div class="collapse navbar-collapse"
      id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav sign-out-nav">
        <li><a href="#sign-in-section">Sign In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="#">Guest Login</a></li>
      </ul>

    </div>
  </div>
</nav>

<%= render "shared/errors" %>

<section id="sign-in-section" class="module parallax parallax-0">
  <div class="container">
    <div class="sign-in-container">
      <form class="form-signin" action="<%= session_url %>" method="post">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">

        <label for="user_username" class="sr-only">Username</label>
        <input type="username" name="user[username]" id="user_username" class="form-control" placeholder="username" required="" autofocus="">

        <label for="user_password" class="sr-only">Password</label>
        <input type="password" name="user[password]" id="user_password" class="form-control" placeholder="password" required="">

        <button id="sign-in-button" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        <br>
        Need an account? <a href="/users/new">Sign Up</a>
        <br>
        Or <a onclick="guestSignIn()">use a guest account.</a>
      </form>
    </div>  </div>
</section>

<section class="module content">
  <div class="container">
    <h2 id="welcome-header" >Welcome to CleverNote</h2>
  </div>
</section>

<section class="module parallax parallax-1">
  <div class="container">
    <h1>Write</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>Use CleverNote to write about anything: take notes, keep a blog, write a novel.</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Organize</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>Keep track of your work using a simple and flexible organization system.</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Simplify</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>Clean, uncluttered design lets you focus on your work, not your tools.</p>
  </div>
</section>

<script>
  var guestSignIn = function() {
    var usernameField = document.getElementById('user_username');
    var passwordField = document.getElementById('user_password');
    var signInButton = document.getElementById('sign-in-button');

    usernameField.value = "guest";
    passwordField.value = "password";
    signInButton.click();
  }
</script>
