<!-- <div class="auth-wrap">
  <div class="sign-in-container">
    <form class="form-signin" action="<%= session_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <label for="user_username" class="sr-only">Username</label>
      <input type="username" name="user[username]" id="user_username" class="form-control" value="guest" required="" autofocus="">

      <label for="user_password" class="sr-only">Password</label>
      <input type="password" name="user[password]" id="user_password" class="form-control" value="password" required="">

      <button id="sign-in-button" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
      <br>
      Need an account? <a href="/users/new">Sign Up</a>
      <br>
      Or <a href="">use a guest account.</a>
    </form>
  </div>
</div>

<%= render "shared/errors" %> -->

<nav id="nav-container" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">

        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CleverNote</a>
    </div>

    <div class="collapse navbar-collapse"
      id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false">
            New Notebook
            <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><input
              onChange={this.onNotebookTitleChange}
              class="new-notebook-dropdown-field"
              placeholder="Title">
            </input></li>

            <li><input
              onChange={this.onNotebookDescriptionChange}
              class="new-notebook-dropdown-field"
              placeholder="Description">
            </input></li>

            <li><button
              class="new-notebook-button"
              onClick={this.onCreateNotebookClick}>Create
            </button></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav sign-out-nav">
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Guest Login</a></li>
      </ul>

    </div>
  </div>
</nav>

<section class="module parallax parallax-1">
  <div class="container">
    <h1>Write</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Organize</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Minimize</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>
