/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

input {
	overflow: auto;
	outline: none;
	color: cornflowerblue;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

textarea {
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

li:hover {
  background-color: cornflowerblue;
  transition: background-color 400ms;
}

.navbar {
  position: relative;
  margin-bottom: 0;
  background-color: #C5C5C5;
  color: black;
}

.notes-list > .selected {
	border-top: 1px solid grey;
	border-bottom: 2px solid grey;
	border-left: 2px solid grey;
	border-right: 2px solid grey;
	background-color: cornflowerblue;
}

.notes-list {
	overflow-y: scroll;
	float: left;
	width: 350px;
	height: 1000px;
	background-color: #FAFAFA;
}

.note-input {
	width: 50%;
	height: 1000px;
	float: left;
	font-size: 18px;
}

.title-field {
	width: 50%;
	height: 30px;
	font-size: 18px;
}

.sidebar {
	background-color: #E9E9E9;
  float: left;
  width: 70px;
  height: 1000px;
}

/*.group:after {
  content: "";
  display: block;
  clear: left;
}*/

h1 {
  text-align: center;
}

.sidebar > ul {
  display: inline;
  text-align: center;
  list-style-type: none;
}

.sidebar > ul > li {
  margin: 0 0 50px 0;
}

.notes-list > div {
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid grey;
	height: 75px;
}

.notes-list-header {
  padding-top: 22px;
	border-bottom: 1px solid grey;
	height: 75px;
  font-size: 36px;
  // background: url();
}

.notes-list > div:hover {
	background-color: cornflowerblue;
	transition: background-color 400ms;
}

.notes-list > .notes-list-header:hover {
	background-color: #FAFAFA;
}

.nav {
	float: left;
}
